/* option用css */
#siteArea{
	margin:auto;
	padding:10px;
	width:550px;
}

#headerArea{
	/*
	margin:10px;
	padding:10px;
	border: 1px solid #C3D9FF;
	*/
}

#accountArea{
	/*
	margin:10px;
	border: 1px solid #C3D9FF;
	*/
}

div.accountRow{
	text-align:center;
	/*margin:5px;*/
	/*padding:5px;*/
	/*background-color: #d9d9ff;*/
}

.accountContents{
	margin:5px;
}

#buttonArea{
	/*margin:10px;*/
	/*padding:5px;*/
	/*border: 1px solid #C3D9FF;*/
}
