{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "angular": true,
    "$": true,
    "chrome": true
  },
  "rules": {
    "no-console": 1,
    "no-alert": 1,
    "no-unused-vars": 1,
    "strict": 2,
    "quotes": [2, "single"],
    "indent": [2, 2],
    "comma-style": [2, "last"],
    "func-style": [2, "expression"],
    "padded-blocks": [2, "never"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "camelcase": [2, {"properties": "always"}]
  }
}
