<!DOCTYPE html>
<html lang="ja" ng-app="PopupApp">
<head>
  <meta charset="UTF-8">
  <!-- jsファイルの読み込み-->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/angular.min.js"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <script type="text/javascript" src="js/angularApp.js"></script>
  <script type="text/javascript" src="js/popup.js"></script>
  <!-- cssファイルの読み込み -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/border.css">
  <link rel="stylesheet" type="text/css" href="css/popup.css">
</head>
<body ng-controller="PopupCtrl">
  <div id="site">
    <!-- headerエリア -->
    <div id="header" ng-click="openTwitter()">twitter</div>

    <p class="line"></p>

    <!-- コンテンツエリア -->
    <div ng-repeat="account in accounts" id="accounts">
      <div class="accountRow" ng-click="switchAccount(account.id)">{{account.name}}</div>
    </div>

    <p class="line"></p>

    <!-- ボタンエリア -->
    <div id="btnArea">
      <div id="logoutButton" ng-click="logout()">logout</div>
    </div>

    <p class="line"></p>

    <!-- footerエリア-->
    <div id="footer">
      <a href="#" id="optionPage" ng-click="openOptionPage()">option</a>
    </div>
  </div>
</body>
</html>
