/* popup用css */
body{
	min-width:150px;
	overflow-x:hidden;
}

#site{
	
}

#header{
	margin:5px;
}
/* コンテンツ(アカウント表示箇所) */
#contents{
	border:1px solid #C3D0FF;
}
/* アカウント表示列 */
div.accountColumn{
	margin:5px;
	padding:3px;
	background-color: #d9d9ff;
}
/* 選択されているアカウント名*/
input[type="radio"]:checked+label{
	font-weight:bold;
}

/* ボタン */
#btnArea{
	margin:5px;
}

#footer{
	text-align:right;
}